.auth-form {
  max-width: 400px;
  margin: 2rem auto;
  background: var(--card-bg);
  padding: 1.5rem;
  border-radius: 8px;
  border: 2px solid var(--button-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form form{
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.auth-form input,
.auth-form select {
  display: block;
  width: 90%;
  padding: 8px;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.auth-form select{
  width: 94%;
}


.auth-form button {
  width: 94%;
  padding: 8px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease,transform 0.3s ease;
}
.auth-form button:hover{
  transform: scale(1.01);
}
.switch-auth {
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
  color: #666;
}

.switch-auth a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.switch-auth a:hover {
  text-decoration: underline;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}


