.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #024e4e;
    color: var(--primary-bg);
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 13px;
    border-right: 2px solid var(--button-text);
    z-index: 1000;



}

.opt {
    padding-top: 3rem;

}

.sidebar.collapsed {
    width: 50px;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.sidebar.open {
    width: 200px;
}

.sidebar .toggle-icon {
    position: fixed;
    cursor: pointer;
    padding: 10px;
    font-size: 10px;
    transition: left 0.3s ease;

}

.toggle-icon.shifted {
    left: 160px;

}

.sidebar-item {



    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 15.4px;
    white-space: nowrap;
    overflow: hidden;
}
.menu-toggleN{
    display: none;
}

.hifted {


    justify-content: flex-start;
    padding-left: 18px;
    gap: 12px;

}

.log-color {
    color: #d23827;
}
.menu-toggleN{
    display: none;
}.menu-toggleN{
    display: none;
}

.sidebar-item {
    padding: 11px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hifted {
    padding: 11px 16px;
    gap: 10px;
    justify-content: left;
}

.log-color {
    color: #d23827;
}

@media (max-width: 768px) {
    .sidebar,
    .sidebar.open,
    .sidebar.collapsed {
        transform: none !important;
        height: 60px;
        width: 100%;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        border-radius: 0;
        border-right: none;
        border-top: 1px solid var(--border-color);
        background-color: #024e4e;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 0;
        z-index: 1000;
        overscroll-behavior: none;
        touch-action: none;
        position: fixed;
    }

    .menu-toggleN, .toggle-icon {
        display: none !important;
    }

    .opt {
        padding-top: 0;
        display: flex;
        flex-direction: row;
        border-top: 1px solid white;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        touch-action: none;
        overflow: hidden;
    }

    .sidebar-item {
        padding: 0;
        flex-direction: column;
        font-size: 0 !important; /* Hide label text */
        height: 100%;
        flex: 1;
    }

    .sidebar-item svg {
        width: 24px !important;
        height: 24px !important;
    }

    .hifted {
        padding: 0;
        justify-content: center;
    }
}
