.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--navbar-bg);
    color: var(--primary-bg);
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 13px;
    border-right: 2px solid var(--button-text);
    z-index: 1000;



}

.opt {
    padding-top: 3rem;

}

.sidebar.collapsed {
    width: 50px;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.sidebar.open {
    width: 200px;
}

.sidebar .toggle-icon {
    position: fixed;
    cursor: pointer;
    padding: 10px;
    font-size: 10px;
    transition: left 0.4s ease;

}

.toggle-icon.shifted {
    left: 160px;

}

.sidebar-item {



    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    transition: all 0.4s ease;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.menu-toggleN{
    display: none;
}

.hifted {


    justify-content: flex-start;
    padding-left: 18px;
    gap: 12px;

}

.log-color {
    color: #d23827;
}
.menu-toggleN{
    display: none;
}.menu-toggleN{
    display: none;
}

@media (max-width: 767px) {
    .sidebar {

         transform: translateX(-79%);
        height: 46vh;
        position: fixed;
        top: 72px;
        /* left: 10px; */
        border-radius: 8px;
        /* width: 200px; */
    }
    .menu-toggleN{
        position: fixed;
        top: 12%;
        height: 40px;
        width: 40px;
        z-index: 2000;
        left: -20px;
        color: var(--button-text);
        background-color: var(--navbar-bg);
        
        display: flex;
        justify-content: right;
        align-items: center;
        border-radius: 50px;
    }

    .sidebar.open {
        transform: translateX(6%);
        /* height: 30vh; */
        position: fixed;
        /* top: 60px; */
        /* left: 10px; */
        border-radius: 8px;
        width: 186px;
    }

    .opt {
        padding-top: 2.4rem;
    }

    .toggle-icon.shifted {
        left: 146px;

    }

}

/* .opt {
    padding-top: 3rem;
} */

.sidebar-item {
    padding: 11px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hifted {
    padding: 11px 16px;
    gap: 10px;
    justify-content: left;
}

.log-color {
    color: #d23827;
}